:root {
  /* colors */
  --color-black: #000;
  --color-white: #fff;

  /* --color-dark-og: #00f; */
  /* --color-light-og: #1e90ff; */
  --color-dark: #00f;
  --color-dark-light: #4242FF;
  --color-dark-glare: #2424FF;
  --color-light: #85C2FF;

  /* font families */
  --font-primary: Helvetica, Arial, sans-serif;

  /* font sizes */
  --font-size-default: 62.5%;

  /* @link https://utopia.fyi/type/calculator?c=320,15,1.067,1400,19,1.075,3,5,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

  /* 320-15px-1.067/1400-19px-1.075 */
  --step--5: clamp(0.68rem, calc(0.63rem + 0.22vw), 0.83rem);
  /* --step--4: clamp(0.72rem, calc(0.67rem + 0.25vw), 0.89rem); */
  /* --step--3: clamp(0.77rem, calc(0.72rem + 0.27vw), 0.96rem); */
  /* --step--2: clamp(0.82rem, calc(0.76rem + 0.30vw), 1.03rem); */
  /* --step--1: clamp(0.88rem, calc(0.81rem + 0.33vw), 1.10rem); */
  /* --step-0: clamp(0.94rem, calc(0.86rem + 0.37vw), 1.19rem); */
  --step-1: clamp(1.00rem, calc(0.92rem + 0.41vw), 1.28rem);
  --step-2: clamp(1.07rem, calc(0.98rem + 0.45vw), 1.37rem);
  --step-3: clamp(1.14rem, calc(1.04rem + 0.50vw), 1.48rem);

  /* space values */
  /* @link https://utopia.fyi/space/calculator?c=320,12,1.2,1400,18,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

  --space-3xs: clamp(0.19rem, calc(0.15rem + 0.19vw), 0.31rem);
  --space-2xs: clamp(0.38rem, calc(0.32rem + 0.28vw), 0.56rem);
  /* --space-xs: clamp(0.56rem, calc(0.47rem + 0.46vw), 0.88rem); */
  /* --space-s: clamp(0.75rem, calc(0.64rem + 0.56vw), 1.13rem); */
  /* --space-m: clamp(1.13rem, calc(0.96rem + 0.83vw), 1.69rem); */
  /* --space-l: clamp(1.50rem, calc(1.28rem + 1.11vw), 2.25rem); */
  /* --space-xl: clamp(2.25rem, calc(1.92rem + 1.67vw), 3.38rem); */
  /* --space-2xl: clamp(3.00rem, calc(2.56rem + 2.22vw), 4.50rem); */
  /* --space-3xl: clamp(4.50rem, calc(3.83rem + 3.33vw), 6.75rem); */

  /* One-up pairs */
  /* --space-3xs-2xs: clamp(0.19rem, calc(0.08rem + 0.56vw), 0.56rem); */
  /* --space-2xs-xs: clamp(0.38rem, calc(0.23rem + 0.74vw), 0.88rem); */
  /* --space-xs-s: clamp(0.56rem, calc(0.40rem + 0.83vw), 1.13rem); */
  /* --space-s-m: clamp(0.75rem, calc(0.47rem + 1.39vw), 1.69rem); */
  /* --space-m-l: clamp(1.13rem, calc(0.79rem + 1.67vw), 2.25rem); */
  --space-l-xl: clamp(1.50rem, calc(0.94rem + 2.78vw), 3.38rem);
  /* --space-xl-2xl: clamp(2.25rem, calc(1.58rem + 3.33vw), 4.50rem); */
  /* --space-2xl-3xl: clamp(3.00rem, calc(1.89rem + 5.56vw), 6.75rem); */

  /* Custom pairs */
  /* --space-s-l: clamp(0.75rem, calc(0.31rem + 2.22vw), 2.25rem); */
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-primary);
  font-size: var(--font-size-default);
}
* {
  font-size: inherit;
}
main {
  width: 100vw;
  margin-top: var(--space-l-xl);
}
article {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}
section {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

img {
  /* min-img: 150, max-img: 250 ~~~ min-vw: 320, max-vw: 1400 */
  width: calc(150px + (250 - 150) * ((100vw - 320px) / (1400 - 320)));
  max-width: 250px;
  height: auto;
  margin: var(--space-3xs) auto;
}
h1 {
  width: 31ch;
  margin: 0 auto;
  font-size: var(--step-3);
}
label {
  font-size: var(--step-2);
}
form {
  display: flex;
  gap: 0.25em;
  width: 60%;
  margin: var(--space-2xs) auto 0;
}
input, 
button {
  border: none;
  border-radius: 0;
  font-size: var(--step-1);
}
input {
  flex-grow: 2;
  padding-left: 0.4em;
}
button {
  flex-grow: 1;
  border-style: outset;
  background-color: var(--color-white);
  color: var(--color-black);
  transition: all 0.25s;
  pointer-events: all;
  cursor: pointer;
}

.img-wrap {
  width: 100%;
}
#ask-question-section {
  width: 100%;
}
#answer-background {
  position: relative;
  z-index: -1;
  width: calc(320px + (450 - 320) * ((100vw - 320px) / (1400 - 320)));
  height: calc(320px + (450 - 320) * ((100vw - 320px) / (1400 - 320)));
  max-width: 450px;
  max-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(var(--color-dark-glare) 0, transparent 75%);
}
#get-your-answer {
  opacity: 1;
  border-right: 6em solid transparent;
  border-left: 6em solid transparent;
  border-radius: 3px;
  animation-name: dieFadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}
@keyframes dieFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#get-your-answer.die-up {
  border-bottom: 10em solid var(--color-dark);
}
#get-your-answer.die-down {
  border-top: 10em solid var(--color-dark);
}
#answer {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--step--5);
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--color-light);
}
.die-up #answer {
  top: 55%;
}

@media (max-width: 640px) {
  form {
    flex-direction: column;
  }
  #answer-wrapper {
    margin-top: -5em;
  }
}

@media (max-width: 767px) {
  form {
    min-width: 85%;
  }
}

@media (min-width: 641px) {
  #answer-wrapper {
    margin-top: -2.5em;
  }
}

@media (min-width: 768px) {
  button {
    max-width: 11em;
  }
  #get-your-answer {
    border-right: 7em solid transparent;
    border-left: 7em solid transparent;
  }
  #get-your-answer.die-up {
    border-bottom: 11em solid var(--color-dark);
  }
  #get-your-answer.die-down {
    border-top: 11em solid var(--color-dark);
  }
}

@media (min-width: 1025px) {
  form {
    max-width: 55%;
  }
}

@media (hover: hover) and (pointer: fine) {
  button:hover, 
  button:focus-within {
    background-color: var(--color-black);
    border-color: var(--color-white);
    color: var(--color-white);
  }
}